<!-- View/Form.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
    <h1>User Form</h1>
    <form action="/api/user" method="POST">

        <label for="">Name:</label>
        <input type="text" name="name" >
        <br>
        <label for="">Email:</label>
        <input type="text" name="email">
        <br>
        <label for="">Phone:</label>
        <input type="text" name="phone">
        <br>
        <label for="">Address:</label>
        <input type="text" name="address" >
        <br>
        <label for="password">password</label>
        <input type="password" name="password">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
