<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      table {
        border-collapse: collapse;
        text-align: center;
        width: 100%;
      }
      table,
      td,
      th {
        border: 1px solid #000;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">Show User</h1>
    <table>
      <thead>
        <tr>
          <th>index</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody id="dataTBody"></tbody>
    </table>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      const fetchUser = (async () => {
        const responce = await fetch("/api/user");
        console.log(responce);
        const data = await responce.json();
        data.map((item, index) => {
          const dataToShow = `
                <tr>
                    <td>${index + 1}</td>
                    <td>${item.name}</td>
                </tr>
            `;
          document.getElementById("dataTBody").innerHTML += dataToShow;
        });
      })();
    </script>
  </body>
</html>